.page-container {
    width: 100vw;
    height:100vh;
    background: url(../../../data/intro-img/start-page.jpg) center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    //position
    position: absolute;
    top: 0;
    left: 0;
    .page-start {
        max-width: 1440px;
        width:100%;
        height: 100%; 
        
        display: flex;
        justify-content: center;
        align-items: center;}
}
