.start-intro {
    width: auto;
    height: 100%; //adjust for hideing 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
   .intro-title {
    font-size: 48px;
    font-weight:200;
    letter-spacing: 5px;
    color: #cdcdcd;
    text-transform: uppercase;
    text-align: center;
   }
   .intro-subtitle {
    font-size: 15px;
    font-weight:200;
    color: #cdcdcd;
    text-align: center;
    .subtitle-capital__letter {
        text-transform: capitalize;
    }
   }
   .intro-btn{ 
    padding: 10px 50px;
    background-color: #570071;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity .5s ease;
    .btn-title {
        font-size: 18px;
        font-weight:200;
        letter-spacing: 1px;
        color: #ececec;
        text-transform: capitalize;
    } 
   }
   .start-btn:hover {
    opacity:1;
    }
  }

  .start-close--open  {
   display: none;
  }
  //close animation
  .start-hide-anim {
    animation: hideIntro 2s ease;
  }
  @keyframes hideIntro {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
  }
  //open animation 
  .start-open-anim {
    animation: openIntro 2s ease;
  }
  @keyframes openIntro {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
  }
