//login/logout

.start-entry {
    width: auto;
    height: 100%;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
    .entry-inputs {
        width: auto;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 20px;
        .entry-input {
            width: 220px;
            border: none;
            border-bottom: 1px solid #cdcdcd;
            background-color: transparent;
            color: inherit;
            outline: none;
            font-size: 18px;
            color: #cdcdcd;
            opacity: 0.8;
        }

        .entry-input::placeholder {
            font-size: 18px;
            color: #cdcdcd;
            opacity: 0.7;
            text-transform: capitalize;
        }
        
        .valid-err {
            animation: error 2s ease;
        }

        @keyframes error {
         0% {
            border-bottom: 1px solid #cdcdcd;
         }
         50% {
            border-bottom: 1px solid #ff0000;
         }
         100% {
            border-bottom: 1px solid #cdcdcd;
         }
        }
        //placeholder disabled
           .entry-input::placeholder {
            font-size: 18px;
            color: #cdcdcd;
            opacity: 0.7;
            visibility: hidden;
        }
        //custom placeholder
        .inputs-label {
            font-size: 18px;
            font-weight: 100;
            font-family: 'Montserrat', sans-serif;
            color: #cdcdcd;
            text-transform: capitalize;
            position:relative;
            bottom: 30%;

            opacity: 0.7;
            transition: all .2s ease;
            pointer-events: none; // activ input field by pushing on input

        }
        
        .entry-input:focus + .inputs-label {
            transform: translateY(-100%); /* Move label up */
        }
      
        .entry-input:not(:placeholder-shown) + .inputs-label {
            transform: translateY(-100%); /* Move label up */
        }
        .valid-err__lable {
            animation: errorLable 2s ease;
        }

        @keyframes errorLable {
         0% {
            color: #cdcdcd;
         }
         50% {
            color: #ff0000;
         }
         100% {
            color: #cdcdcd;
         }
        }
        
    }

    .entry-btn {
     width: fit-content;
     height: fit-content;

     display: flex;
     justify-content: center;
     align-items: center;
    
     gap: 20px;
        .btn-log {
            width:100px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #570071;
            cursor: pointer;
            opacity: 0.8;
            transition: opacity .5s ease;
            .log-title {
                font-size: 18px;
                font-weight:200;
                letter-spacing: 1px;
                color: #ececec;
                text-transform: capitalize;
            }
        }
        .btn-log:hover {
            opacity:1;
        }

    }
}
.entry-close--open  {
    display: none;
}
   //close animation
   .entry-hide-anim {
     animation: hideEntry 2s ease;
   }
   @keyframes hideEntry {
     from {
         transform: translateY(0);
     }
     to {
         transform: translateY(-100%);
     }
   }
   //open animation 
   .entry-open-anim {
     animation: openEntry 2s ease;
   }
   @keyframes openEntry {
     from {
         transform: translateY(-100%);
     }
     to {
         transform: translateY(0);
     }
   }
 
